@model Pocketses.Web.Models.Campaigns.Campaign

@{
    ViewData["Title"] = "Details";
}

<div class="p-4 text-gray-600">

    <h1 class="page-title">
        Details
    </h1>

    <div class="pb-8">
        <h4 class="text-xl font-bold text-gray-400 pb-4">
            Campaign
        </h4>


        <div class="bg-white shadow sm:rounded-lg p-4">
            <dl>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Name
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                        @Model.Name
                    </dd>
                </div>
            </dl>
        </div>

    </div>

    <div class="space-x-4">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-blue">
            Edit
        </a>
        <a asp-action="Index" class="btn btn-blue">
            Back to List
        </a>
    </div>
</div>