@model Pocketses.Web.Areas.Identity.Models.ConfirmEmailViewModel

@{
    ViewData["Title"] = "Confirm Account";
}

<div class="flex flex-col justify-center items-center content-center py-24">

    <h1 class="page-title">
        @ViewData["Title"]
    </h1>

    <h2 class="text-lg font-bold text-gray-400 pb-4">
        Please confirm your email address!
    </h2>

    <p>
        A confirmation email was sent to <b>@Html.DisplayFor(m=>m.Email)</b>, please confirm your email before you continue.
    </p>

    <form asp-action="RequestEmailConfirmation">
        <input type="hidden" asp-for="Email" />
        <input type="submit" value="Resend confirmation email" class="btn btn-blue mt-8" />
    </form>

</div>