@model Pocketses.Web.Areas.Identity.Models.LoginViewModel
@{
    ViewData["Title"] = "Log in";
}

<div class="flex flex-col justify-center items-center content-center py-24">

    <h1 class="page-title">
        @ViewData["Title"]
    </h1>

    <div class="w-full max-w-xs">

        <form asp-action="LogIn"
              class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

            <div asp-validation-summary="ModelOnly" class="text-red-600"></div>

            <input asp-for="ReturnUrl" type="hidden"/>

            <div class="mb-4">
                <label asp-for="Email" class="black text-gray-700 text-sm font-bold mb-2"></label>
                <input asp-for="Email" autocomplete="username" placeholder="Email"
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                <span asp-validation-for="Email" class="text-red-600"></span>
            </div>

            <div class="mb-2">
                <label asp-for="Password" class="black text-gray-700 text-sm font-bold mb-2"></label>
                <input asp-for="Password" autocomplete="current-password" placeholder="Password"
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                <span asp-validation-for="Password" class="text-red-600"></span>
            </div>

            <div class="mb-2">
                <input asp-for="RememberMe" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                <label asp-for="RememberMe" class="black text-gray-700 text-sm font-bold mb-2"></label>
            </div>

            <div class="mb-4">
                <input type="submit" value="Log in" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" />
            </div>

            <div class="flex flex-col">
                <a asp-action="ForgotPassword">Forgot your password?</a>
                <a asp-action="Register">Register as a new user</a>
                <a asp-action="ResendConfirmation">Resend email conmfirmation</a>
            </div>

        </form>

    </div>

</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }