@{
    ViewData["Title"] = "Confirm Account";
}

<div class="flex flex-col justify-center items-center content-center py-24">

    <h1 class="page-title">
        @ViewData["Title"]
    </h1>

    <p>
        Please check your email to confirm your account.
    </p>

</div>